label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.movieContainer {
  border: 2px solid rgba(59, 59, 59, 0.8);
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: max-content;
  width: 400px;
}




.img {
  width: 100%;
  height: auto;
  max-height: 80%; /* Adjust the max-height as per your preference */
}

.label {
  background: transparent;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 5px 0; /* Adjust the margin as per your preference */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: smaller;
  text-align: center;
  margin-bottom: 50px;
}

 
.mainContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 1px solid black; */
  align-content: center;
}

.searchContainer{
  margin-bottom: 10px;
}